<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
			<string>004</string>
		</array>
		<key>username</key>
		<string>江疏影</string>
		<key>text</key>
		<string>不错,很好听的歌曲</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>赵丽颖</string>
		<key>text</key>
		<string>值得推荐的一首歌</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
		</array>
		<key>username</key>
		<string>郑爽</string>
		<key>text</key>
		<string>这是个变脸的时代,女汉字到女神只差个微整!!</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
		</array>
		<key>username</key>
		<string>胡歌</string>
		<key>text</key>
		<string>久违的经典,勾起了不少回忆呀</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
		</array>
		<key>username</key>
		<string>林俊杰</string>
		<key>text</key>
		<string>最喜欢他的Always Online</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>周杰伦</string>
		<key>text</key>
		<string>最近新曲告白气球真心好听啊</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
		</array>
		<key>username</key>
		<string>林允儿</string>
		<key>text</key>
		<string>从新定义了我心中女神的✨,人美歌甜,喜欢ZZZZ</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>薛之谦</string>
		<key>text</key>
		<string>真的很绅士,那首绅士不知道单曲循环了多少遍</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>001</string>
		</array>
		<key>username</key>
		<string>zhangyanlf</string>
		<key>text</key>
		<string>做的这个弹幕效果还不错,后面继续加油</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>emotions</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
		</array>
		<key>username</key>
		<string>2017</string>
		<key>text</key>
		<string>2017努力奋斗,加油!!!</string>
		<key>type</key>
		<string>1</string>
	</dict>
</array>
</plist>
